.background{
    --background: url('../../assets/login-bg/lscreen.png')0 0/100% 100% no-repeat;;
}

.main{
    width: auto;
    height: auto;
    margin-top: 23em;
    text-align: center;
}
.kot{
    text-align: center;
    margin-top: 30px;
}

.rounded{ 
    border: 1px; 
    border-radius: 50px; 
    opacity: 0.8;
    color: gray;
    margin-left: 20px;
    margin-right: 20px;
    
}

.elare{
    color: #87DB65;
}